<h3 style="margin-top: 50px; font-family: 'Asul'; margin-left: 100px;">Aion Upheaval</h3>
<p style="text-align: justify; text-indent: 60px; padding-left: 15vw; padding-right: 15vw; margin-top:50px;">Olá Daevas, teste agora o servidor de aion versão 4.9. Faça o download do cliente no link abaixo.</p>
<p style="text-align: justify; text-indent: 60px; padding-left: 15vw; padding-right: 15vw; margin-top:50px;"><a href="https://drive.google.com/drive/folders/1tmhtFd-Q1BGY21Gr3AjqZP9YAqLsNRlT?usp=sharing">Download Cliente</a></p>
<p style="text-align: justify; text-indent: 60px; padding-left: 15vw; padding-right: 15vw; margin-top:50px;"><a href="/build/download/Aion_Infinity_4.9.torrent">Download Torrent</a></p>
<p style="text-align: justify; text-indent: 60px; padding-left: 15vw; padding-right: 15vw; margin-top:50px;"><a href="/build/download/ServerTeste.zip">Download Patch</a></p>
